{% extends "base.html" %}
{% block start %}


    <div class ="container"> 
      <h1>Hey this is a Home page</h1>
      <h1>This is a Sent Email</h1>
      <a href="{% url "send_email" %}" class ="btn btn-success">SendEmail</a>
    </div>
    
    <a href="/">Home|</a>
    <a href="/about/">About|</a>
    <a href="/contact/">Contact|</a>
     <!-- {{peoples}} -->
     <table class="container mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">NAME</th>
            <th scope="col">AGE</th>
            <th scope="col">Voting</th>
          </tr>
        </thead>
        <tbody>

            {% for people in peoples %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ people.name}}</td>
            <td>{{ people.age }}</td>
            <td  {% if people.age < 18 %} style="background:red" {% endif %} >
                {% if people.age >= 18 %}
                  :)
                {% else %}
                  :(
                {% endif %}
            </td>
          </tr>
            {% endfor %}

        </tbody>
      </table>


      {% endblock %}