{% extends "base.html" %}
{% block start %}

<div class="container mt-5 ">

<form class="col-6 mx-auto" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>LOGIN</h2>
    <hr>

    {% if messages %}
    {{ message.tags }}
    <div class="alert alert-info" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">User Name</label>
          <input type="text" class="form-control" name = "username" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>    
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name = "password" class="form-control" id="exampleInputPassword1">
        </div>
        <p>Don't have an account <a href="/register/">REGISTER</a></p>
        <button type="submit" class="btn btn-primary">Submit</button>
    <hr>
  </form>

</div>

{% endblock %}